<div id='chiselchat'>    
    <audio id="chiselchat-new-message-sound" src="/chiselchat/whoosh.wav" preload="auto"></audio>
    <ul id='chiselchat-tab-list'>
        <li id='chiselchat-room-tab'>
          <a href='#chiselchat-room-pane' chisel-toggle='tab' title='Rooms'><span class='chiselchat-glyphicon chiselchat-glyphicon-home'></span> Rooms</a>
        </li>
        <li id='chiselchat-presence-tab'>
          <a href='#chiselchat-presence-pane' chisel-toggle='tab' title='People'><span class='chiselchat-glyphicon chiselchat-glyphicon-user'></span> People</a>
        </li>
    </ul>
    <div id='chiselchat-tab-content'>
        <div id='chiselchat-presence-pane' class='chiselchat-tab-pane'>
            <div class="chiselchat-title">
                People    
                <span class="chiselchat-pane-controls">
                    <a href='javascript: void(0);' data-event='chiselchat-minimize-pane' class='chiselchat-minimize-pane' title='Minimize'>&UnderBar;</a>    
                    <a href='javascript: void(0);' data-event='chiselchat-toggle-pane-size' class='chiselchat-toggle-pane-size' title='Toggle Chat Window Size'>&uhblk;</a>    
                </span>
            </div>
            <div class="chiselchat-scrollable-list">

                <form id='chiselchat-user-search-form'>
                    <input type='text' data-event='chiselchat-user-search' data-template='templates/user-search-list-item.html' data-target='chiselchat-user-search' data-controls='chiselchat-user-search-controls' placeholder='Search'>
                </form>

                <ul id='chiselchat-user-search'></ul>
            </div>
        </div>     
        <div id='chiselchat-room-pane' class='chiselchat-tab-pane'>
            <div class="chiselchat-title">
                Rooms    
                <span class="chiselchat-pane-controls">
                    <a href='javascript: void(0);' data-event='chiselchat-minimize-pane' class='chiselchat-minimize-pane' title='Minimize'>&UnderBar;</a>    
                    <a href='javascript: void(0);' data-event='chiselchat-toggle-pane-size' class='chiselchat-toggle-pane-size' title='Toggle Chat Window Size'>&uhblk;</a>    
                </span>
            </div>

            <div class="chiselchat-scrollable-list">
                <form id='chiselchat-create-room'>
                    <input id='chiselchat-input-room-name' data-input='chiselchat-room-name' type='text' placeholder='Create new room...' maxlength='<%- maxLengthRoomName %>'>
                </form>
    
                    <ul id='chiselchat-room-list'></ul>
            </div>
            
        </div>       
    </div>

  <div id='chiselchat-footer'></div>
</div>
