<div data-toggle='chiselchat-contextmenu' class='contextmenu' data-message-id='<%- id %>'>
  <ul>
    <li><a href='#!' data-event='chiselchat-user-warn'>Warn User</a></li>
    <% if (allowKick) { %>
      <li><a href='#!' data-event='chiselchat-user-kick'>Kick User</a></li>
    <% } %>
    <li><a href='#!' data-event='chiselchat-user-suspend-hour'>Suspend User (1 Hour)</a></li>
    <li><a href='#!' data-event='chiselchat-user-suspend-day'>Suspend User (1 Day)</a></li>
    <li><a href='#!' data-event='chiselchat-message-delete'>Delete Message</a></li>
  </ul>
</div>