<div class='chiselchat-message message-<%- type %> <% if (isSelfMessage) { %> message-self <% } %>' data-message-id='<%- id %>' data-user-id='<%- userId %>' data-user-name='<%- name %>' data-class="chiselchat-message">
  
  <div class='chiselchat-avatar'><a href=''><img src=''></a></div>
  <div class='chiselchat-user'><a href=''><%- name %></a></div>
  <div class='chiselchat-timestamp'><%- localtime %></div>
  <% if (!disableActions) { %>
      <div class='chiselchat-controls'>
          <a href='#!' data-event='chiselchat-user-chat' title='Invite to Private Chat'>PM</a> 
          <a href='#!' data-event='chiselchat-user-mute-toggle' title='Mute User'>Mute</a>
          <a href="#">Delete</a> 
          <a href="#">Kick</a> 
          <a href="#">Ban</a>
      </div>
  <% } %>
  <div class='chiselchat-message-content'><%= message %></div>
    
      
</div>