<div id='<%- id %>' data-room-id='<%- id %>' class='chiselchat-tab-pane'>
    <div class="chiselchat-title">
        <%- name %>
        <a href='#!' data-event='chiselchat-close-tab' class='chiselchat-close-tab' title='Leave Room'>&times;</a>    
    </div>
    
 <div class='chiselchat-tab-pane-menu'>

            <div class='dropdown'>
              <a data-event='chiselchat-user-room-list-btn' data-toggle="dropdown" href='#' data-target='chiselchat-room-user-list-<%- id %>'>
                In Room
              </a>
              <div class='dropdown-menu' role='menu'>
                <ul id='chiselchat-room-user-list-<%- id %>'></ul>
              </div>
            </div>

            <div class='dropdown'>
              <a data-event='chiselchat-user-search-btn' data-toggle="dropdown" href='#'>
                Invite
              </a>

              <div class='dropdown-menu' role='menu'>
                <div class='dropdown-header'>
                  <div class='search-wrapper'>
                    <input type='text' data-event='chiselchat-user-search' data-template='templates/room-user-search-list-item.html' data-target='chiselchat-room-user-search-<%- id %>' data-controls='chiselchat-room-user-search-controls-<%- id %>'>
                  </div>
                </div>
                <ul id='chiselchat-room-user-search-<%- id %>'></ul>

                <div class='dropdown-footer'>
                  <div id='chiselchat-room-user-search-controls-<%- id %>'></div>
                </div>
              </div>
            </div>


          </div>         
 

  <div id='chiselchat-messages<%- id %>' class='chiselchat-history'></div>
  

  <div class='chiselchat-say'>
    <textarea id='textarea<%- id %>' placeholder='Type your message here...'></textarea>
  </div>
</div>