<div id='<%- id %>' data-room-id='<%- id %>' class='chiselchat-tab-pane'>
    <div class="chiselchat-title">
        <span class="chiselchat-title-text"><%- name %></span>
        <span class="chiselchat-pane-controls">
            <a href='javascript: void(0);' data-event='chiselchat-minimize-pane' class='chiselchat-minimize-pane' title='Minimize'>&UnderBar;</a>    
            <a href='javascript: void(0);' data-event='chiselchat-toggle-pane-size' class='chiselchat-toggle-pane-size' title='Toggle Chat Window Size'>&uhblk;</a>    
            <a href='javascript: void(0);' data-event='chiselchat-close-tab' class='chiselchat-close-tab' title='Leave Room'>&times;</a>  
        </span>
    </div>
    
    <div class='chiselchat-tab-pane-menu'>
        <div class='chiselchat-scrollable-list'>
              <button data-event='chiselchat-user-room-list-btn' href='javascript: void(0);' data-target='chiselchat-room-user-list-<%- id %>'>
                People In Room
              </button>
                <ul id='chiselchat-room-user-list-<%- id %>'></ul>

            <div>
                <b>Invite</b>
                <input type='text' data-event='chiselchat-user-search' data-template='templates/room-user-search-list-item.html' data-target='chiselchat-room-user-search-<%- id %>' data-controls='chiselchat-room-user-search-controls-<%- id %>'>
                <div class="chiselchat-scrollable-list">
                    <ul id='chiselchat-room-user-search-<%- id %>'></ul>
                </div>
            </div>
        </div>
    </div>
         

  <div id='chiselchat-messages<%- id %>' class='chiselchat-history'></div>
  

  <div class='chiselchat-say'>
    <textarea id='textarea<%- id %>' placeholder='Type your message here...'></textarea>
  </div>
</div>